Source: midgard2-php5
Section: web
Priority: optional
Maintainer:  Piotr Pokora <pp@infoglob.pl>
Uploaders: 
Standards-Version: 3.2.1
Build-Depends: debhelper (>=3), php5-dev (>=5.2), libmidgard2.0-dev(>=2.0alpha), zlib1g-dev, zlib1g-dev
 
Package: php5-midgard2
Section: web
Architecture: i386
Depends: libapache2-mod-php5 (>=5.2.4), php5-cli, libapache2-mod-midgard2 (>=2.0alpha), midgard-common, ${shlibs:Depends}
Suggests: 
Replaces: 
Conflicts: 
Recommends: 
Description: Midgard2 Content Management System - PHP5 Module
 .
 PHP5 language bindings for Midgard2.
 This package provides Midgard's PHP5 Module. 
 .
 Midgard is an Open Source content management system based on Apache and
 MySQL.  The system uses PHP as its scripting language.  Midgard addresses the
 publishing challenge by providing tools that are based on content organization
 to create a content tree that's similar to a Yahoo style directory.  Layout
 is separated from content by a style system that enables HTML developers to
 focus on site design while writers focus on articles.
